@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

*{
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

/* Header Classes */

.header {
    background-color: black;
    min-height: 100px;
}

.head-logo {
    padding: 20px 50px;
    color: white;
}

.header img {
    width: 100px;
    border-radius: 50%;
}

.nav-links {
    padding: 0px 50px;
}

.nav-links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 1rem;
}

.nav-links a:hover {
    font-size: 1.55rem;
    transition: 0.3s ease-in-out;
    background-color: green;
    font-weight: bold;
}

.active {
    font-weight: bold;
    border: 2px solid green;
}

/* Hero Classes */

.hero {
    width: 1800px;
    margin: 0 auto;
}

.hero-main {
    background-color: black;
    color: white;
    min-height: 100px;
    flex: 2
}

.hero-main h2 {
    font-size: 3rem;
    text-align: center;
}

.hero-aside {
    background-color: green;
    min-height: 100px;
    flex: 1;
}

.hero-aside h2 {
    font-size: 3rem;
    text-align: center;
}